/**************** General style ************/
html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::selection {
    background-color: #0873AE;
    -webkit-text-fill-color: #ffffff;
    color: #ffffff;
}

::-moz-selection {
    background-color: #0873AE;
    color: #ffffff;
    -webkit-text-fill-color: #ffffff;

}

::-webkit-selection {
    background-color: #0873AE;
    -webkit-text-fill-color: #ffffff;
    color: #ffffff;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #C1A830;
}

body {
    font-family: "Cairo", sans-serif;
    color: #002132;
}

.main-color {
    color: #0873AE;

}

.sec-color {
    color: #C1A830;
}

/* any link to read */
a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}

p {
    line-height: 1.8;
    font-size: 1.15rem;
}

.btn {
    padding: 0.65rem 2.5rem;
    box-shadow: none;
    color: #fff;
    background: #C1A830;
    border: 2px solid transparent;
    border-radius: 12px;
    font-size: 1.2rem;
    font-weight: 700;

}

.btn:focus {
    outline: 0;
    box-shadow: none;
}

.btn .svg-inline--fa {
    vertical-align: middle;
    margin-right: 10px;
}

.btn:hover {
    border: 2px solid #C1A830;
    color: #C1A830;
    background: transparent;
}

.btn.reverse {
    background: #0873AE;
    color: #fff;

}


.title {
    font-size: 2.7rem;
    font-weight: 800;
}
.onScroll{
    position: fixed;
    bottom: 5%;
    right: 2%;
    z-index: 4;
}
.onScroll img{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px 0px;
    height: 65px;
    width:65px;
    object-fit: contain;
    border-radius: 50%;

}
/*--- navbar styling ---*/
header .navbar {
    background-color: #fff;
    box-shadow: 0 0 10px #00000029;
}

header .navbar-toggler {
    border-radius: 0;
}

header .navbar-toggler:focus {
    box-shadow: none;
}


header .navbar .navbar-service img {
    height: 100%;
    width: 170px;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

header .navbar-light .navbar-nav .nav-link {
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    padding:  2.85rem;
    transition: all .3s ease-in-out;
    color: #002132;
    position: relative;
}
header .navbar-light .navbar-nav .nav-link:hover,
header .navbar.navbar-light .navbar-nav .nav-item.active .nav-link {
    background: #0873AE;
    color: #fff !important;
}

header .navbar-light .navbar-nav .nav-link::before {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: #C1A830;
    transition: all 0.3s ease-in-out;
    z-index: 1;
}

header .navbar-light .navbar-nav .nav-link:hover::before {
    width: 100%;
}

header .navbar-light .navbar-nav .active .nav-link::before {
    width: 100%;
}




header.scroll {
    background-color: #fff;
    box-shadow: 0 0 10px #00000029;
    color: #002132 !important;
}


header.scroll .navbar-light .navbar-nav .nav-link {
    color: #002132;
}

.contain {
    display: flex;
    flex-wrap: inherit;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-right: 50px;
}

/************ intro section **********/
.intro {
    position: relative;
    margin-top: 110px;
}


.intro video {
    width: 100%;
    object-fit: cover;
    height: calc(100vh - 110px);

}
/************ about section **********/


.about-img {
    width: 100%;
    height: 100%;
    margin: 0;
}

.about-img img {
    width: 100%;
    height: 475px;
    object-fit: contain;
    object-position: left;

}
/* ----------vision section ----------*/
.vision .item{
    padding: 2.5rem 1.25rem;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    text-align: center;
    min-height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vision .item img{
    height: 80px;
    width: 80px;
    object-fit: contain;
}

/*------- partner section ------*/
.partners{
    position: relative;
    background: url(../images/parteners-bg.png) center no-repeat;
    z-index: 2;
    color: #fff;
    background-size: cover;
}
/* .partners-carousel {
    width: 60%!important;
} */
 .partners::after{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: rgba(0, 33, 50, 0.57);
    z-index: -1;
    width: 100%;
    height: 100%;
 }
.partners-carousel .item {
    height: 175px;
    width: 275px;
    overflow: hidden;
    /* padding: 1rem; */
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    transition: all .4s cubic-bezier(.22, .61, .36, 1);
}
.partners-carousel .item img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.owl-carousel .owl-nav .owl-prev {
    position: absolute;
    background-color: transparent !important;
    top: 0;
    bottom: 0;
    margin: auto;
}

.owl-carousel .owl-nav .owl-next {

    position: absolute;
    background-color: transparent !important;
    top: 0;
    bottom: 0;
    margin: auto;
}

.owl-nav .owl-prev {
    left: 0;
}

.owl-nav .owl-next {
   right: 0;
}

.owl-carousel .owl-nav .owl-prev {
    position: absolute;
    background-color: transparent !important;
    top: 0;
    bottom: 0;
    margin: auto;
}

.owl-carousel .owl-nav .owl-next {

    position: absolute;
    background-color: transparent !important;
    top: 0;
    bottom: 0;
    margin: auto;
}

.owl-nav span {
    font-size: 2rem;
    color: #0873AE;
}
/*----------- values section ---------*/
.values .item{
    padding: 2.5rem 1.25rem;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    text-align: center;
    min-height: 175px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.values .item img{
    height: 50px;
    width: 100%;
    object-fit: contain;
}
.values .value-img img{
    width: 100%;
    height: 575px;
    object-fit: contain;
}
/*----- footer -----*/
footer{
    background: #F4F7FB;

}
footer .copyRights{
    background:#0074AE ;
    text-align: center;
    overflow: hidden;
    padding: 0.5rem;
    color: #fff;
}
/*-------- inner header ---------*/
.inner-header{
    margin-top: 120px;
    font-size: 1.25rem;
}
.inner-header .container{
    border-bottom: 0.5px solid #A9A5A5;

}
.breadcrumb-item+.breadcrumb-item::before {
    float: right;
    padding-left: .5rem;
    color: #6c757d;
    content: var(--bs-breadcrumb-divider, ">");
}


@media(max-width: 1024px) {}

@media(max-width: 992px) {

}

@media(max-width: 768px) {}

@media(max-width: 640px) {}

@media(max-width: 480px) {
}

@media(max-width: 360px) {}
